<h2>Send a text</h2>

<form action="/text">
  
  <label for="name">Who is the recipient?</label>
  <input id="name" type="text" name="name">

  <label for="number">What is the number?</label>
  <input id="number" type="text" name="name">
  <button>Submit!</button>
  
</form>
